.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.cover_img {
  display: grid;
  width: 100%;
  height: 300px;
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 5px;
  background-color: rgb(160, 160, 160);
}
