.container {
  max-width: 800px;
  padding: 0px 20px;
  margin: 0 auto;
}

.header {
  font-size: 20px;
}

.header > a {
  text-decoration: none;
  color: rgb(229, 9, 20);
}
.main {
  padding-top: 10px;
}

.footer {
  padding: 100px 0px;
  color: gray;
}
