.search_container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search_container > input {
  flex: 1;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid rgb(130, 130, 130);
  background-color: transparent;
  color: rgb(225, 225, 225);
}

.search_container > button {
  width: 80px;
  border-radius: 5px;
  border: none;
  background-color: rgb(130, 130, 130);
  color: rgb(225, 225, 225);
  cursor: pointer;
}
